body {
  box-sizing: border-box;
  background-color: #c5c2cb;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
}

.bg-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

canvas {
  background-color: #c5c2cb;
  border: 4px solid #000000;
  margin: 2px;
  padding: 0px;
}

.game-logo {
  padding: 0px;
  margin: 0px;
}

#start-game-btn {
  margin: 0px;
  padding:  0px 0px 0px 5px;
  border: 0px;
  background-color: #c5c2cb;
}

#reset-game-btn {
  margin: 0px;
  padding:  0px 0px 0px 5px;
  border: 0px;
  background-color: #c5c2cb;
}